h1, h2, h3, h4, h5, h6 {
  line-height: inherit; margin-bottom: 0;
}

p:last-child { margin-bottom: 0; }

strong { font-weight: 700; }

img { max-width: 100%; height: auto; }

.__react_component_tooltip { line-height: 1.5rem; }

body { overflow-y: scroll; }

#app {
  min-height: 100vh; display: flex; flex-direction: column;
  main {
    flex: 1 0 auto;
  }
}
