@keyframes loadingFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes loadingSpin {
  0% { transform: rotate(0deg) translateZ(0); }
  100% { transform: rotate(360deg) translateZ(0); }
}

.loadingSpinner {
  @include vh-center;
  div {
    width: 25px; height: 25px; border: solid 2px;
    border-color: #000 #000 #000 #fff; border-radius: 50%;
    animation: loadingFade .5s .2s backwards, loadingSpin .5s infinite linear;
  }
}

#appLoading {
  position: fixed; top: 0; left: 0; z-index: 100000;
  width: 100%; height: 100%;
  background: #fff;
}

body.loading { overflow: hidden !important; }
