<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{{ meta }}}
    <!-- font-awesome //-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha256-AIodEDkC8V/bHBkfyxzolUMw57jeQ9CauwhVW6YJ9CA=" crossorigin="anonymous" />
    <!-- lightgallery //-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/css/lightgallery.min.css" integrity="sha256-aE9ighQ16YCp5z2xXwuZCBvLUxbxy9/MzlSTsTH16Ro=" crossorigin="anonymous" />
  </head>
  <body class="noscript">
    <div id="root">{{{ appRoot }}}</div>
    {{{ initialState }}}
    <noscript id="noscript">
      It seems that you have disabled JavaScript in your browser settings.
      Because of that some part of this site functionality may be unavailable.
    </noscript>
    <script>
      document.getElementsByTagName('body')[0].className = ''
    </script>
  </body>
</html>
