<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{{ meta }}}
    <!-- lightgallery //-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/css/lightgallery.min.css" integrity="sha256-aE9ighQ16YCp5z2xXwuZCBvLUxbxy9/MzlSTsTH16Ro=" crossorigin="anonymous" />
  </head>
  <body class="noscript">
    <div id="root">{{{ appRoot }}}</div>
    {{{ initialState }}}
    <noscript id="noscript">
      It seems that you have disabled JavaScript in your browser settings.
      Because of that some part of this site functionality may be unavailable.
    </noscript>
    <script>
      (function() {
        document.body.className = document.body.className.replace('noscript', '')
        document.body.className += ' loading'
        var appLoading = document.createElement('div')
        appLoading.id = 'appLoading'
        document.body.appendChild(appLoading)
        var loadingSpinner = document.createElement('div')
        loadingSpinner.className = 'loadingSpinner'
        appLoading.appendChild(loadingSpinner)
        loadingSpinner.appendChild(document.createElement('div'))

        window.onload = function() {
          document.getElementById('appLoading').remove()
          document.body.className = document.body.className.replace('loading', '')
        }
      })();
    </script>
    <!-- TinyMCE //-->
    <script src="https://cdn.tinymce.com/4/tinymce.min.js" defer></script>
  </body>
</html>
